
<div class="container">
<div *ngIf="!message">
  <label class="label">Add secret</label>
  <input [(ngModel)]="secret" class="secret">
  <button (click)="setSecret()" class="btnScret">Submit</button>
</div>

<div *ngIf="message">
  <label class="label">Add number</label>
  <input [(ngModel)]="number" class="number">
  <button (click)="guessNumber()" class="btnNumber">Guess</button>
</div>

<button (click)="backSetSecret()" class="btnBack">Back to set secret</button>

<div class="mess">
  <span class="message" *ngIf="message">{{message}}</span>
  <span class="result">{{result}}</span>
</div>

</div>
